<div class="row">
   <div class="col-md-6">
      <div class="mb-2">
         <%= line_chart @cum_data, colors: ['#33cc33', 'black'], title: 'Cumulative Consumption & Deficit' %>
      </div>

      <div class="mb-2">
         <%= line_chart @milestone_data, title: 'Cumulative Projected Weight Loss' %>
      </div>
   </div>
   <div class=" col-md-offset-1 col-md-4">
      <h1> Input New Log </h1>
      <%= render partial: 'log', locals: {calorie: @calorie} %>
   </div>
</div>
