<!-- Validation failure messages -->
<% if @calorie.errors.any? %>
  <% @calorie.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Calorie</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render partial: 'log', locals: {calorie: @calorie} %>
  </div>
</div>
